<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Мій сайт{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
    >
</head>

<body class="min-vh-100 d-flex flex-column">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand" href="/">
            MySite
        </a>

        <!-- Mobile button -->
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Головна
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about/">
                        Про нас
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contact/">
                        Контакти
                    </a>
                </li>

            </ul>

        </div>
    </div>
</nav>


<!-- Main content -->
<div class="flex-grow-1">
    <main class="container py-4">
    <div>
        {% block content %}
        {% endblock %}
    </div>
</main>
</div>



<!-- Footer -->
<footer class="bg-dark text-white py-3 mt-auto">
    <div class="container text-center">
        <p class="mb-0">
            © 2026 MySite. Всі права захищені.
        </p>
    </div>
</footer>


<!-- Bootstrap JS -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
</script>

</body>
</html>
